.winner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.winner__points {
  font-size: 75px;
}

.winner__headline {
  width: 80%;
  text-align: center;
}
