.pitch__position {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.bench {
  background: lightgray;
}

.bboost {
  border: 6px solid green;
}
