/* GLOBAL */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  font-family: monospace;
  background: rgb(231, 254, 255);
}

header,
footer {
  background: #000;
  min-height: 50px;
}
